{{/* block: title */}}
{{ .Title }}

{{/* block: cross_sub_table */}}
{{ .CrossSubTable }}

{{/* block: deploy_checklist */}}
{{ .DeployChecklist }}

---

{{/* block: per_report */}}
{{ range $r := .Reports }}
{{ per_report "report" $r }}

{{ end }}
{{/* block: footer */}}
{{ .Footer }}
