{{/* block: title */}}
{{ .Title }}

{{/* block: summary_table */}}
{{ .SummaryTable }}

{{/* block: key_changes */}}
{{ .KeyChanges }}

{{/* block: module_details */}}
{{ module_details }}

{{/* block: footer */}}
{{ .Footer }}
