{{/* block: title */}}
{{ .Title }}
{{/* block: plan_counts */}}
{{ .PlanCounts }}

{{/* block: summary_table */}}
{{ .SummaryTable }}

---

{{/* block: instance_detail */}}
{{ instance_detail }}

{{/* block: footer */}}
{{ .Footer }}
